.jumbotron {
  background: white;
  color: black;
  padding-bottom: 80px; }
  .jumbotron p {
    font-size: 14px;
    /* max-width: 75%; */
    /* margin: 1em auto 2em; */
  }
  .jumbotron h5 {
    /* font-size: 14px; */
    /* max-width: 75%; */
    /* margin: 1em auto 2em; */
    font-weight: bold;
    text-decoration: underline;
  }
  .jumbotron text-center {
    font-size: 14px;
    max-width: 75%;
    margin: 1em auto 2em;
  }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.pagebreak { page-break-before: always; }

.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}