h2 {
  margin-top:0;
}

h5 {
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-size: 14px;
}

.pagebreak { page-break-before: always; }

.blank_row {
    height: 10px !important;
    background-color: #FFFFFF;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: #777;
  opacity: 0.5;
}
