<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Lease generator</h1>
    <p>Enter the tenant name and this will generate the lease contract!</p>

    <form method="post" action="/generate">
      <p> <label for="tenant_name">*Nom prénom locataire</label> : <input type="text" name="tenant_name" id="tenant_name" /> </p>
      <p> <label for="tenant_address">*Adresse locataire</label> : <input type="text" name="tenant_address" id="tenant_address" /> </p>
      <p> <label for="cotenant_name">Nom prénom colocataire</label> : <input type="text" name="cotenant_name" id="cotenant_name" /> </p>
      <p> <label for="cotenant_address">Adresse colocataire</label> : <input type="text" name="cotenant_address" id="cotenant_address" /> </p>
      <p> <label for="caution_name">Nom prénom caution</label> : <input type="text" name="caution_name" id="caution_name" /> </p>
      <p> <label for="caution_address">Adresse caution</label> : <input type="text" name="caution_address" id="caution_address" /> </p>
      <p> <label for="rent_amount">*Montant du loyer</label> : <input type="text" name="rent_amount" id="rent_amount" /> </p>

   <input type="submit" class="btn btn-lg btn-primary" value="Envoyer" />
   </form>

  </div>
</div>


</body>
</html>
