<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Lease generator</title>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Lease generator</h1>
    <h3>Générateur de contrat de bail</h3>
    <!-- <p>Enter the lease details and this will generate the lease contract to be signed!</p> -->
    <p>Entrez les détails du contrat et ce site génère les documents à signer!</p>

    <form method="post" action="/generate_lease">
      <select name="unit">
          <option value="maison_neufgrange">Maison Hambach 2 rue de Neufgrange</option>
          <option value="appart_a_neufgrange">Appart Hambach 2a rue de Neufgrange</option>
          <option value="appart_b_neufgrange">Appart Hambach 2b rue de Neufgrange</option>
          <option value="appart_strasbourg">Appart Strasbourg</option>
          <option value="appart_oriels_nancy">Appart Oriels Nancy</option>
          <option value="appart_4RCN_nancy">Appart 4 rue Charles Nicole Nancy</option>
          <option value="maison_klein_hambach">Maison Klein Hambach</option>
      </select>
      <p> <label for="start_date">*Date de début</label> : <input type="date" name="start_date" id="start_date" required /> </p>
      <p> <label for="rent_amount">*Montant du loyer</label> : <input type="text" name="rent_amount" id="rent_amount" required /> </p>

      <p> <label for="tenant_name">*Prénom Nom locataire</label> : <input type="text" name="tenant_name" id="tenant_name" required /> </p>
      <p> <label for="tenant_address">*Adresse locataire</label> : <input type="text" name="tenant_address" id="tenant_address" required /> </p>
      <p> <label for="cotenant_name">Prénom Nom colocataire</label> : <input type="text" name="cotenant_name" id="cotenant_name" /> </p>
      <p> <label for="cotenant_address">Adresse colocataire</label> : <input type="text" name="cotenant_address" id="cotenant_address" /> </p>
      <p> <label for="caution_name">Prénom Nom caution</label> : <input type="text" name="caution_name" id="caution_name" /> </p>
      <p> <label for="caution_address">Adresse caution</label> : <input type="text" name="caution_address" id="caution_address" /> </p>
      <p> <label for="landlord_name">*Prénom Nom propriétaire</label> : <input type="text" name="landlord_name" id="landlord_name" required /> </p>
      <p> <label for="landlord_address">*Adresse propriétaire</label> : <input type="text" name="landlord_address" id="landlord_address" required /> </p>

      <input type="submit" class="btn btn-lg btn-primary" value="Envoyer" />
   </form>

   <h3>Générateur de fiche locataire</h3>
    <p>Selectionnez l'appartement et ceci génère la fiche locataire à remplir!</p>

    <form method="post" action="/generate_information_document">
      <select name="unit">
          <option value="maison_neufgrange">Maison Hambach 2 rue de Neufgrange</option>
          <option value="appart_a_neufgrange">Appart Hambach 2a rue de Neufgrange</option>
          <option value="appart_b_neufgrange">Appart Hambach 2b rue de Neufgrange</option>
          <option value="appart_strasbourg">Appart Strasbourg</option>
          <option value="appart_oriels_nancy">Appart Oriels Nancy</option>
          <option value="appart_4RCN_nancy">Appart 4 rue Charles Nicole Nancy</option>
          <option value="maison_klein_hambach">Maison Klein Hambach</option>
      </select>
      <p> <label for="rent_amount">*Montant du loyer</label> : <input type="text" name="rent_amount" id="rent_amount" required /> </p>
      <p> <label for="landlord_name">*Prénom Nom propriétaire</label> : <input type="text" name="landlord_name" id="landlord_name" required /> </p>
      <p> <label for="landlord_email">*E-mail propriétaire</label> : <input type="text" name="landlord_email" id="landlord_email" required /> </p>
      <p> <label for="landlord_phone">*Téléphone propriétaire</label> : <input type="text" name="landlord_phone" id="landlord_phone" required /> </p>

      <input type="submit" class="btn btn-lg btn-primary" value="Envoyer" />
   </form>

  </div>
</div>


</body>
</html>
